%script
	window.plist = #{@plist.to_json};

%header
	%h1= @plist["name"]
	%p.author by #{@plist["author"]}

%div.wrapper
	%section#sidebar
		%ul
			- @files.each do |f|
				%li
					%a{ :href => "/?f=#{f[:file_escaped]}", :class => ("selected" if @file == f[:file]) }= f[:name]
	%section#content
		%div.mainSettings
		%div.table
			%div.header
				%table
					%colgroup
						%col.name
						%col.fg
						%col.bg
						%col.b

					%thead
						%tr
							%th.l{ :scope => "col" } Name
							%th.c{ :scope => "col" } FG
							%th.c{ :scope => "col" } BG
							%th.c{ :scope => "col" } Font Style
			%div.content
				%table.hidden
					%colgroup
						%col.name
						%col.fg
						%col.bg
						%col.b
					%thead
						%tr
							%th.l{ :scope => "col" } Name
							%th.c{ :scope => "col" } FG
							%th.c{ :scope => "col" } BG
							%th.c{ :scope => "col" } Font Style
					%tbody
		%div.selected
			%input{ :name => :scope }
			%button.add Add

= partial("jsTemplates/colorTemplate")

= partial("jsTemplates/settingsTemplate")

= partial("jsTemplates/statusTemplate")

= partial("jsTemplates/settingsItemTemplate")
